<h3 class="font-weight-medium">Specialized Courses</h3>
<table class="table table-borderless">
  <tbody>
    {% for course in site.data.resume.courses %}
      <tr>
        <td class="text-center" style="width: 10%;">
          <span class="badge font-weight-bold purple" style="width: 100%; display: inline-block; font-size: 0.8rem;">{{ course.category }}</span>
        </td>
        <td style="width: 90%; border-left: 2px solid #dee2e6;">
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">
            {{ course.courses | join: '; ' }}
          </h6>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

