<h3 class="font-weight-medium">Skills</h3>
<ul class="card-text font-weight-light list-group list-group-flush">
  <li class="list-group-item">
    <h6 class="font-weight-bold">Programming Languages</h6>
    <p>Matlab, Python, Java, C++</p>
  </li>
  <li class="list-group-item">
    <h6 class="font-weight-bold">Language Proficiency</h6>
    <p>Mandarin (Native speaker), English (C1, IELTS-7.5)</p>
  </li>
  <li class="list-group-item">
    <h6 class="font-weight-bold">Technical Softwares</h6>
    <p>SAC, GMT, Surfer, Origin</p>
  </li>
  <li class="list-group-item">
    <h6 class="font-weight-bold">Document/Presentation</h6>
    <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">
        <p>Office, Adobe, Overleaf</p>
    </h6>
  </li>
  <li class="list-group-item">
    <h6 class="font-weight-bold">Sports</h6>
    <p>Badminton (Proficient), Volleyball (Conversant)</p>
  </li>
</ul>
